body{
    background-color: #FEF5E7;
}
#imagenestabla{
    text-align: center;
    padding-top: 50px;
}
img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
@font-face {
    font-family: gooddog;
    src: url(GOODDP__.TTF);
}
h1{
    text-align: center;
    font-family: gooddog;
    color: #DC7633;
    letter-spacing: 5px;
}
#boton{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: chocolate;
    color: white;
    margin-top: 30px;
    margin-left: 560px;
}
#boton:hover{
    filter: opacity(0.5);
}